@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

* {
    font-family: var(--font-para);
}


body {
    background-color: #2b5b84;
}

.btn-info{
    background-color: #34568B !important;
    border-color: #34568B !important;
}

.btn-info:hover{
    background-color: #1d3c6d !important;
    border-color: #264577 !important;
}

.btn{
    outline: none !important;
  }

  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }


.form-control:focus {
    border-color: #1d3c6d;
    box-shadow: 0 0 0 0.2rem rgba(104, 105, 27, 0.842);
} 


.bg-dark{
    background: #2b5b84 !important;
}
.logo{
    font-size: 80px;
    color: #DAA520;
}
.input-edit{
    font-size: 13px !important;
}
li .nav-link{
    font-size: 14px !important;
}

.dropdown-menu .dropdown-item{
    font-size: 14px !important;

}
.btn{
    font-size: 13px !important;
    

}
.description{
    color: #666666;
    font-size: 17px !important;
}

.hhr{
    color: #2b5b84;
}
.btn-outline-warning{
    border-color: #DAA520 !important;
    color: #DAA520 im !important;
}
.btn-outline-warning:hover{
    background-color: #DAA520;
    color: white;
}
.title{
    color: #666;
    font-size: 20px !important;
}
.btn-info{
    background-color: #2b5b84;
    border-color: #2b5b84;
    border-radius: 15px !important;
    
}
.btn-info:hover{
    background-color: #003461;
    transition-duration: 0.9s;
}
.text-warning{
    color: #DAA520 !important;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid #2b5b84 !important;
}
.pagination>li.active>a {
  background: #2b5b84 !important;
  color: #fff !important;
}
.page-item .page-link{
    color: #2b5b84 !important;
}
.ur{
    text-decoration: none !important;
    color: 	#404040;
}
.bg-c{
    background-color: #2b5b84 !important;
}
.alert-success{
    background-color: #2b5b84 !important;
    color: #fff;

}
.ur:hover{
    color: #fff !important;
    background:#808080 !important;
    padding: 5px !important;
    transition-duration: 0.9s;
}
.rounded{
    border-radius: 12px !important;
} 
.activee{
    color: #fff !important;
    background: #2b5b84 !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    border-radius: 15px !important;
}
.disabled {
    pointer-events: none;
    cursor: default;
  }

.fs{
    font-size: 17px !important;
}

.active{
    text-decoration: overline !important;
    text-decoration-color: #fff !important;
    text-decoration-thickness: 2px !important;
}
.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }

  .jbc{
      background-color: #1e4263 !important;
  }

  .bw{
    border-radius: 15px !important;
  }

  .sb{
      border-top-right-radius: 15px !important;
      border-bottom-right-radius: 15px !important;
  }




