body{
    background-color: #2b5b84;
    font-family:Helvetica Neue; 
    font-size:14;
}
.bg-dark{
    background: #2b5b84 !important;
}
.logo{
    font-size: 100px;
    color: #DAA520;
}
.input-edit{
    font-size: 13px !important;
}
li .nav-link{
    font-size: 14px !important;
}

.dropdown-menu .dropdown-item{
    font-size: 14px !important;

}
.btn{
    font-size: 12px !important;

}
p{
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-nav .nav-item{
    font-weight: 600 !important;
}
.navbar-brand{
    font-weight: 600 !important;

}  
.description{
    color: #666666;
}

.hhr{
    color: #2b5b84;
}
.btn-outline-warning{
    border-color: #DAA520 !important;
    color: #DAA520 im !important;
}
.btn-outline-warning:hover{
    background-color: #DAA520;
    color: white;
}
.title{
    color: #666;
    font-size: 17px !important;
}
.btn-info{
    background-color: #2b5b84;
    border-color: #2b5b84;
}
.btn-info:hover{
    background-color: #003461;
    transition-duration: 0.9s;
}
.text-warning{
    color: #DAA520 !important;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid #2b5b84 !important;
}
.pagination>li.active>a {
  background: #2b5b84 !important;
  color: #fff !important;
}
.page-item .page-link{
    color: #2b5b84 !important;
}
.ur{
    text-decoration: none !important;
    color: black;
}
.bg-c{
    background-color: #2b5b84 !important;
}
.alert-success{
    background-color: #2b5b84 !important;
    color: #fff;

}
.ur:hover{
    color: #fff !important;
    background: #2b5b84 !important;
    padding: 2px;
    transition-duration: 0.9s;
}
.rounded{
    border-radius: 12px !important;
}

