{% extends 'base.html' %}
{% load static %}

{% block content %}


   {% for blog in blog %}

    <div class="mt-4 border border-secondary p-2">
         <h5 class="title">{{blog.blog_title |truncatechars:100}}</h5>
         <p  class="description"><i class="fa fa-calendar" aria-hidden="true"></i> {{ blog.blog_timeDate}}  <i class="fa fa-bookmark" aria-hidden="true"></i>   {{ blog.cat_name }}
                            
                            </p>
         <p>{{blog.blog_body | safe |truncatechars:300}}</p>
         <a href="{% url 'more' blog.id %}" class="btn btn-info">More</a>


     


    </div>

    <hr>
    
    
    
    {% endfor %}





{% endblock content %}