{% extends 'base.html' %}
{% load static %}

{% block content %}


   {% for blogs in blogs %}

    <div class="card shadow mt-4 rounded">
    <div class="card-body">
         <h5 class="title">{{blogs.blog_title |truncatechars:100}}</h5>
         <p  class="description"><i class="fa fa-calendar" aria-hidden="true"></i> <a href="{% url 'date' blogs.blog_date %}" class="mr-2 ur description"> {{ blogs.blog_date}} </a> <i class="fa fa-bookmark" aria-hidden="true"></i> 
         <a href="{% url 'tags' blogs.blog_tags %}" class="ur description">  {{ blogs.blog_tags}} </a>
                            
                            </p>
         <p>{{blogs.blog_body | safe |truncatechars:300}}</p>
         <a href="{% url 'more' blogs.id %}" class="btn btn-info">More</a>

  </div>
     


    </div>

    <hr>
    
    
    
    {% endfor %}

    <!--pagination-->
<div class="mt-4 ml-3">
 <nav aria-label="Page navigation example text-center">

       {% if blogs.has_other_pages %}
  <ul class="pagination">
    {% if blogs.has_previous %}

      <li class="page-item ">
      <a class="page-link" href="?page={{ blogs.previous_page_number }}" tabindex="-1">&laquo;</a>
    </li>

    {% else %}
        <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&laquo;</a>
    </li>
    {% endif %}
    {% for i in blogs.paginator.page_range %}
      {% if blogs.number == i %}

      <li class="page-item active">
      <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if blogs.has_next %}
       <li class="page-item">
      <a class="page-link" href="?page={{ blogs.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&raquo;</a>
    </li>
    {% endif %}
  </ul>
{% endif %}
</nav>

</div> <!--ending paginations-->

  <hr>





{% endblock content %}