{% extends 'base.html' %}
{% load static %}

{% block content %}


{% if blog|length < 1 %}

<div class="p-2  border border-secondary mt-4">
       <h3 style="margin-top:40;">

          Your search -<u>{{query}}</u>- did not match any documents


       </h3><br>
       <div class="card ml-4 p-2">
       <span><i class="fa fa-plus-circle" aria-hidden="true"></i> Make sure that all words are spelled correctly.</span>
<span><i class="fa fa-plus-circle" aria-hidden="true"></i> Try different keywords.</span>
<span><i class="fa fa-plus-circle" aria-hidden="true"></i> Try more general keywords.</span>
 <span><i class="fa fa-plus-circle" aria-hidden="true"></i> Try fewer keywords.</span>



        <a class="text-style" href="{% url 'blog' %}"><span><i class="fa fa-plus-circle" aria-hidden="true"></i> Go to Blog Page</span></a>
</div>
</div>




{% else %}
<h3 class="mt-3 title">Total search results : {{total}}</h3>
<h5 class="title">Your search query was : <u> {{query}} </u></h5>


   {% for search in search %}

    <div class="card shadow mt-4">
    <div class="card-body">
         <h5 class="title">{{search.blog_title |truncatechars:100}}</h5>
        <p  class="description"><i class="fa fa-calendar" aria-hidden="true"></i> 
        <a href="{% url 'date' slug=search.blog_date %}" class="mr-2 ur description"> {{ search.blog_date}} </a> 
        <i class="fa fa-bookmark" aria-hidden="true"></i> 
         <a href="{% url 'tags' slug=search.blog_tags %}" class="mr-2 ur description">  {{ search.blog_tags}} </a>
       
                            </p>
         <p>{{search.blog_descriptions | truncatechars:200}}</p>
         <a href="{% url 'more' slug=search.id %}" class="btn btn-info">More</a>


     </div>


    </div>

    <hr>
    
    
    
    {% endfor %}
    {% endif %}





{% endblock content %}